

  <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" 
    content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Quintal Coffee</title>
</head>
<body>
  <h1>Available coffee</h1>
  <ul>
    <% coffee.forEach(coffee => { %>
      <li>
				<%= coffee.text %> 
        -
        <%= coffee.country %> 
			</li>
    <% }) %>
  </ul>
</body>
</html>